<app-banner name="anna-banner"></app-banner>
<div class="container p-5">
  <app-text-title ref="anna-title" alignStyle="left" [textColor]="titleColor"></app-text-title>

  <div class="video-container d-flex">
    <div *ngFor="let video of videosTop" class="col-12 col-md-4" >
      <div class="top-video">
        <app-video [videoUrl]="video"></app-video>        
      </div>
    </div>
  </div>

  <app-text ref="anna-desc" alignStyle="left" [twoColumns]="true"></app-text>
</div>
<app-bottom-reel  title="SHOW REEL"
subtitle="Estos son algunos de mis shows en solitario, pero puedes ver más en mi cana del Youtube o en Instagram." [videoId]="videoId"></app-bottom-reel>
<app-cta></app-cta>
