.claim{
  background-color: #8A66B6;
  color: white;
  font-family: 'Bebas Neue Regular';
  text-align: center;
  font-size: 60px;
  padding: 30px 1em;
}




@media (max-width: 992px) {
  .claim{
    font-size: 25px;
  }
}

