<app-banner name="discounts-banner"></app-banner>
<div class="container p-5">
    <app-text-title ref="discounts-title" alignStyle="center"></app-text-title>
    <app-text ref="discounts-text" alignStyle="center"></app-text>
</div>

<app-ventajas></app-ventajas>
<div class="colaborar">
    <app-text ref="discounts-colaborar" alignStyle="center"></app-text>
</div>
<app-bottom-video
  title="UNBOXING POLYFANS"
  subtitle="Échale un ojo a estos Polyfans! Abanicos de led increíbles de Neopoi.com."
  [videoId]="videoId"
  background="/assets/img/discounts/bgpolifans.jpg"
></app-bottom-video>

<app-haztelos></app-haztelos>
<app-cta></app-cta>