<!-- <footer>  
  <div class="row wrapper">
    <div class="col col-sm-4 info">
      <img class="logo" src="./assets/img/logo.png">
      <div>TRIBAL&FLAMES · ANNA DE MAS</div>
      <div>WEB DONE IN BARCELONA 2021</div>
    </div>
    <div class="col col-sm-8">
      <div class="row section-parent">
        <div class="col col-sm-5 section">
          <div class="title">EXPLORE</div>
          <div class="row map">
            <div class="col col-sm-6">
              <ul>
                <li>Sobre Tribak&Flames</li>
                <li>Cursos</li>
                <li>Sobre Anna de Mas</li>
                <li>T&F Crew</li>
              </ul>
            </div>
            <div class="col col-sm-6">
              <ul>
                <li>Shows</li>
                <li>Descuentos</li>
                <li>F.A.Q.S</li>
                <li>Mi Cuenta</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col col-sm-4 section">
          <div class="row section">
            <div>
              <fa-icon class="icon-rrss icon-mail" [icon]="famail"></fa-icon>  
              <span class="title">CONTACT ME</span>
            </div>

            <div>annademas.tribaldance@gmail.com</div>
            <div class="title">SOCIAL MEDIA</div>
            <div class="icons">
              <fa-icon class="icon-rrss icon-insta" [icon]="fainsta"></fa-icon>
              <fa-icon class="icon-rrss" [icon]="fafacebook"></fa-icon>
              <fa-icon class="icon-rrss" [icon]="fayoutube"></fa-icon>
            </div>
          </div>
        </div>
        <div class="col col-sm-3">
        </div>      
      </div>
    </div>
  </div>
</footer> -->