<div class="principles">

  <h2 class="title-outside">NUESTROS PRINCIPIOS</h2>

    <div class="row row-cols-md-3 row-cols-2 row-cols-lg-5 principles-grid">
      <div class="col title-grid">
        <h2>NUESTROS PRINCIPIOS</h2>
      </div>
      <div class="col">
        <div class="principle"><img src="/assets/img/01_about/principles/0.jpg"></div>
      </div>
      <div class="col">
        <div class="principle"><img src="/assets/img/01_about/principles/0.jpg"></div>
      </div>
      <div class="col">
        <div class="principle"><img src="/assets/img/01_about/principles/0.jpg"></div>
      </div>
      <div class="col">
        <div class="principle"><img src="/assets/img/01_about/principles/0.jpg"></div>
      </div>
      <div class="col">
        <div class="principle"><img src="/assets/img/01_about/principles/0.jpg"></div>
      </div>
      <div class="col">
        <div class="principle"><img src="/assets/img/01_about/principles/0.jpg"></div>
      </div>
      <div class="col">
        <div class="principle"><img src="/assets/img/01_about/principles/0.jpg"></div>
      </div>
      <div class="col">
        <div class="principle"><img src="/assets/img/01_about/principles/0.jpg"></div>
      </div>
      <div class="col">
        <div class="principle"><img src="/assets/img/01_about/principles/0.jpg"></div>
      </div>
    </div>


    <p class="transcription">Nuestros 3 pilares fundamentales para aprender este formato de danza: • Malabares con abanicos • Flow arts con abanicos • Tribal Fusion bellydance• 🔥 Sí! Malabarismo y flow arts no son exactamente lo mismo. Puedes saber muchísimos trucos ymalabares pero no saber fluir con ellos yel abanico. Lo estudiaremos en clase. Y también practicaremos algunos pasos del Tribal Fusion adaptados a los abanicos y/o como embellezadores de nuestra coreografía.</p>
</div>
