.menu {
  position: sticky;
  top: 0;
}

.subsections,
.subusers,
.subcourses {
  height: 0px;
  transition: all 0.3s;
  overflow: hidden;
}

.selected-option ul {
  height: 400px;
  transition: all 0.3s;
}

.selected-option > span {
  background-color: #ff693a;
  font-weight: bold;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  text-decoration: none;
  color: white;
  width: bold;
  display: block;
  margin: 0;
  text-decoration: none;
  text-align: left;
  cursor: pointer;
  border-bottom: 1px solid #282b2e;
}

li li {
  border-bottom: 1px solid #282b2e;
}

.selected-option {
  border-bottom: none;
}
.first-level,
.second-level {
  display: block;
  padding: 1em;
}

.first-level:hover {
  background-color: #ff693a;
  font-weight: bold;
}

.subsections > li,
.subusers > li,
.subcourses > li {
  display: block;
  padding: 0.8em 2em;
}

.subsections > li:hover,
.subusers > li:hover,
.subcourses > li:hover {
  background-color: #282b2e;
}
