.cards {
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1280px) {
  .cards {
    max-width: 900px;
  }
}
