<app-img-editor [name]="'discounts-banner'"></app-img-editor>
<app-text-editor [name]="'discounts-title'" height="100"></app-text-editor>
<app-text-editor [name]="'discounts-text'" height="400"></app-text-editor>
<app-text-editor [name]="'discounts-colaborar'" height="100"></app-text-editor>
<app-text-editor [name]="'haztelos-title'" height="100"></app-text-editor>
<app-text-editor [name]="'haztelos-text'" height="400"></app-text-editor>
<app-images-container [images]="images"></app-images-container>
