.courses-container {
  background-color: #edb1a6;
  padding-top: 55px;
  position: relative;
}

.background-images {
  background-image: url('/assets/img/00_home/courses/bg.jpg');
  position: absolute;
  top: 50px;
  bottom: 0;
  opacity: 0;
  left: 0;
  right: 0;
  background-position: center;
  transition: all 1s;
  background-repeat: no-repeat;
}

.background-images.visible {
  top: 0;
  bottom: 0;
  opacity: 1;
  transition: all 1s;
}

.title {
  text-align: center;
  color: white;
  font-family: 'Bebas Neue Regular', sans-serif;
  font-size: 52px;
  position: relative;
}

.grid {
  max-width: 680px;
  margin: auto;
  justify-content: space-around;
}

.course-card {
  width: 185px;
  height: 185px;
  border-radius: 1em;
  border: none;
  margin: auto;
}

.course-1 .course-card,
.course-1 button {
  background-color: #fa413e;
}

.course-2 .course-card,
.course-2 button {
  background-color: #00dd92;
}

.course-3 .course-card,
.course-3 button {
  background-color: #a246e1;
}

.course-card img {
  display: block;
  margin: auto;
  padding-top: 0.5em;
}
.course {
  margin: 0;
  padding: 0;
}

.course-title {
  font-family: 'Rubik', sans-serif;
  font-weight: regular;
  color: white;
  font-size: 18px;
  text-align: center;
  line-height: 1em;
  display: block;
  margin: auto;
}

.course p {
  font-family: 'Rubik', sans-serif;
  font-weight: lighter;
  text-align: center;
  margin: 1em 0.1em 0.5em 0.1em;
  height: 134px;
}

button {
  margin: auto;
  display: block;
  border: none;
  margin-bottom: 2em;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .course p {
    height: auto;
    margin: 1em;
  }
  .background-images {
    top: 0;
    bottom: 0;
    opacity: 1;
    background-size: cover;
  }
}
