<div class="courses-container">

  <div class="background-images" #background [ngClass]="{'visible': visible}">

  </div>


  <h2 class="title">¿QUÉ CURSO QUIERES ESTUDIAR ONLINE?</h2>



  <div class="row grid">

    <div class="course-1 course col-md-4" >
      <div class="course-card">
      <img src="/assets/img/00_home/courses/0.png" width="120">
        <span class="course-title">CURSO REGULAR SEMANAL T&F®</span>
      </div>
      <p>Únete a la T&F Crew con
        la versión más completa
        y académica del método.
        Nivel inicial e intermedio.</p>

        <button>SABER MÁS</button>


      </div>
    <div class="course-2 course col-md-4" >
        <div class="course-card">
        <img src="/assets/img/00_home/courses/1.png"  width="120">
        <span class="course-title">WORKSHOPS SUELTOS T&F®</span>

      </div>
      <p>Entrena con los intensivos o Crazy Combos rápidos para mejorar tu flow sin profundizar demasiado en técnica.</p>

      <button>SABER MÁS</button>

    </div>
   <div class="course-3 course col-md-4" >
      <div class="course-card">
        <img src="/assets/img/00_home/courses/2.png"  width="120">
        <span class="course-title">CLASES TRIBAL FUSION</span>
      </div>
      <p>Aprende a bailar Tribal Fusion bellydance para enriquecer tu baile con abanicos.</p>

      <button>SABER MÁS</button>
    </div>
  </div>
</div>
