    <div class="card">
      <div class="card-header d-flex  justify-content-between d-flex align-items-center">
       {{ name | uppercase }}<!--  - {{currentLang | uppercase}} -->
<!--         <button (click)=changeLang() class="btn btn-primary float-right">{{oppositeLang()}}</button>
 -->      </div>

      <div class="card-body">
        <app-error [status]="status"></app-error>
        <form [formGroup]="form"  (ngSubmit)="onSubmit()" >
          <div  *ngFor="let lang of langs">
            <div  *ngIf="lang === currentLang">
            <div>
              <button class="btn btn-primary m-2" (click)="filePicker.click()" type="button">Cambiar imagen</button>
              <input type="file" #filePicker (change)="onImagePicked($event)">
            </div>
            <div class="image-preview"  *ngIf="currentPreview != '' && currentPreview && form.get(lang).valid">
              <img [src]="currentPreview" [alt]="form.value.title">
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary m-2">Guardar</button>
      </form>
    </div>
</div>
