<div class="row whatis">
  <div class="col-md-5 title">
    <h2>¿QUÉ ES TRIBAL&FLAMES®?</h2>
  </div>
  <div class="col-md-7 description">
    <p><b>Tribal&Flames® es la metodología de danza para el/la malabarista de fuego, el/la flow artist y el/la bailarin/a de tribal fusión bellydance que quiera aprender a bailar con abanicos.</b> Ideado y estructurado por <a href="#">Anna de Mas</a> en 2019 en Barcelona y en constante evolución. Trabajaremos los tres pilares (fire juggling + flow arts y tribal fusion) que nos permitirán hacer <b>shows épicos con abanicos de fuego/leds/entreno.</b> Estudiaremos su <b>técnica universal</b> (mayormente Russian style) y entrenaremos nuestra fluidez a través de <b>nuestro propio lenguaje de combos para improvisar</b> en tribu (<a href="#">Tribal&Flames® Crew</a>) o en solo, que te resultará super útil para crear shows visualmente potentes y limpios técnicamente al instante (en escenario, videoclips, ferias, en casa o donde sea).</p>

    <p>Mantén los <b>3 pilares alineados</b>, estudia las <b>familias de pasos</b> con las que hemos estructurado los cursos, su <b>vocabulario y conceptos</b> para tener una buena práctica. Entender la teoría y la academia del abanico es igual de importante que practicar, ya que se retroalimentan a la hora de fluir y es básico para hacer un buen ejercicio de flow arts. ¡Recomendamos traer <b>libreta en clase y tomar apuntes!</b></p>

    <p>Te animamos a conocer nuestros <b>9 principios</b> para conocer mejor de qué van nuestros cursos y nuestra filosofía a la hora de enseñar y vivir en tribu. También puedes echar un ojo a nuestro
      <a href="#">Instagram</a> para ver nuestro día a día dentro y fuera de la escuela, o ver la <a href="#">entrevista</a> de 2 minutos que nos hizo Vishuddha.</p>


  </div>
</div>
