<app-img-editor [name]="'crew-banner'"></app-img-editor>

<app-text-editor [name]="'crew-title'" height="100"></app-text-editor>
<app-text-editor [name]="'crew-text'" height="400"></app-text-editor>
<app-text-editor [name]="'quotes-title'" height="100"></app-text-editor>
<app-text-editor [name]="'quotes-text'" height="400"></app-text-editor>
<app-img-list [name]="'quotes-imgs'"></app-img-list>
<app-text-editor [name]="'promo-title'" height="100"></app-text-editor>
<app-text-editor [name]="'promo-text'" height="400"></app-text-editor>