<div class="contratanos">
    <div class="info">
        <app-text-title ref="contratanos-title" alignStyle="left" [textColor]="titleColor" [font]="titleFont"></app-text-title>
        <app-text ref="contratanos-description" alignStyle="left"  [textColor]="textColor"></app-text>
    </div>
    
    <div class="video-container row">
    <!-- TODO: HACER DINAMICO -->
        <div class="video col col-4">
            <app-video [videoUrl]="'../../../../assets/videos/anna0.mp4'" [radius]="10"></app-video>        
            <div class="title">«WHITE GALAXY» (FLOW IMPRO)</div>
            <div class="text">T&F Crew - Promoción I + II + III + Online crew
                Spain 2020
                Improvisado a partir del lenguaje de combos T&F®.
            </div>
        </div>
        <div class="video col col-4">
            <app-video [videoUrl]="'../../../../assets/videos/anna0.mp4'" [radius]="10"></app-video>   
            <div class="title">«JARA» (GUERRA)</div>
            <div class="text">T&F Crew - Promoción II
                Badalona 2020
                Fiesta para la Igualdad de Género en La Rotllana.
            </div>     
        </div>

        
        <div class="video col col-4">
            <app-video [videoUrl]="'../../../../assets/videos/anna0.mp4'"  [radius]="10"></app-video>      
            <div class="title">«PHOENIX»</div>
            <div class="text">T&F Crew - Promoción II
                Badalona 2020
                Fiesta para la Igualdad de Género en La Rotllana.
            </div>  
        </div>
        
        <div class="video col col-4">
            <app-video [videoUrl]="'../../../../assets/videos/anna0.mp4'" [radius]="10"></app-video>        
      
            <div class="title">«STARFALL» </div>
            <div class="text">T&F Crew - Promoción I + II + III + Online crew
                Spain 2020
                Improvisado a partir del lenguaje de combos T&F®.
            </div>
        </div>

        <div class="video col col-4">
            <img src="../../../../../assets/img/04_Shows/soon1.jpg">    
            <div class="title">«SHAMANIC BEATS» </div>
            <div class="text">T&F Crew - Promoción III
                SOON.
            </div>    
        </div>

        <div class="video col col-4">
            <img src="../../../../../assets/img/04_Shows/soon2.jpg">

            <div class="title">«MATI SYRA ZEMLYA» </div>
            <div class="text">T&F Crew - Promoción II Intermediate
                SOON.
            </div>
        </div>

    </div>

</div>